# 25 Top SQL Tips!

This document is a collection of tips related to keywords, functions and concepts in Transact-SQL, or T-SQL. It's by no means exhaustive, but offers an overview of commonly used components, as well as info on some rarer but still very useful ones.

# 1\. USE

The USE command switches the database context to the specified database. This can be done manually, but putting it at the start of a script is a good way to ensure you're always working in the database you want. 

<span style="color: var(--vscode-foreground);">If there's a space in the database name, you must surround it with square brackets; they're optional otherwise.</span>

```SQL
USE [Northwind 2022];
GO
```

In [1]:
USE [Northwind 2022];
GO

# 2\. SELECT & FROM

The basic building blocks of SQL queries. If you're not creating, updating or deleting, you're selecting something. SELECT can be used by itself, for instance to perform a math calculation.

You can select multiple fields, separated by commas, or you can use the \* wildcard to select all fields in the table.

```SQL
SELECT EmployeeID
      ,FirstName
      ,LastName
FROM dbo.Employees

```

In [7]:
SELECT TOP 3 EmployeeID
      ,FirstName
      ,LastName
FROM dbo.Employees

EmployeeID,FirstName,LastName
1,Nancy,Davolio
2,Andrew,Fuller
3,Janet,Leverling

# 3\. WHERE

The WHERE clause can be used to filter your results at the detail level. It takes place before any grouping or aggregation, and filters by individual rows.

It includes an expression which is evaluated and returns the rows for which the expression is true. Note: WHERE statements cannot include aggregate functions (unless you get around it using a subquery).

```SQL
SELECT ProductID
      ,ProductName
      ,UnitPrice
FROM dbo.Products
WHERE UnitPrice > 20

```

In [6]:
SELECT TOP 5 ProductID
      ,ProductName
      ,UnitPrice
FROM dbo.Products
WHERE UnitPrice > 20

ProductID,ProductName,UnitPrice
4,Chef Anton's Cajun Seasoning,22.00
5,Chef Anton's Gumbo Mix,21.35
6,Grandma's Boysenberry Spread,25.00
7,Uncle Bob's Organic Dried Pears,30.00
8,Northwoods Cranberry Sauce,40.00

# 4\. GROUP BY

The GROUP BY clause is used to group rows that have the same value into summary rows. It is frequently used with aggregate functions like COUNT(), SUM(), or AVG(). You can group by multiple fields at once.

Very Important: When using GROUP BY, every field in your SELECT statement MUST either be contained in the GROUP BY statement or in an aggregate function. If it isn't, SQL doesn't really know where to put it, and you will get an error.

```SQL
SELECT shp.CompanyName
      ,COUNT(ord.OrderID) as 'OrderCount'
FROM dbo.Orders as ord
    INNER JOIN dbo.Shippers as shp
    ON ord.ShipVia = shp.ShipperID
GROUP BY shp.CompanyName

```

In [12]:
SELECT shp.CompanyName
      ,COUNT(ord.OrderID) as 'OrderCount'
FROM dbo.Orders as ord
    INNER JOIN dbo.Shippers as shp
    ON ord.ShipVia = shp.ShipperID
GROUP BY shp.CompanyName

CompanyName,OrderCount
Federal Shipping,255
Speedy Express,249
United Package,326

# 5\. HAVING

The HAVING clause filters results at the aggregate level. It takes place after grouping or aggregation, and filters groups of rows.

It can include aggregate functions in the statement.

```SQL
SELECT shp.CompanyName
      ,COUNT(ord.OrderID) as 'OrderCount'
FROM dbo.Orders as ord
    INNER JOIN dbo.Shippers as shp
    ON ord.ShipVia = shp.ShipperID
GROUP BY shp.CompanyName
HAVING COUNT(ord.OrderID) > 300

```

In [14]:
SELECT shp.CompanyName
      ,COUNT(ord.OrderID) as 'OrderCount'
FROM dbo.Orders as ord
    INNER JOIN dbo.Shippers as shp
    ON ord.ShipVia = shp.ShipperID
GROUP BY shp.CompanyName
HAVING COUNT(ord.OrderID) > 250

CompanyName,OrderCount
Federal Shipping,255
United Package,326

# 6\. ORDER BY

The ORDER BY clause is used to order the result set by the values in one or more columns. It works on numeric, alphabetical, and datetime valued columns.

You can include the keywords ASC or DESC to specify ascending or descending order.

```SQL
SELECT ProductID
      ,ProductName
      ,UnitPrice
FROM dbo.Products
ORDER BY UnitPrice DESC
```

In [2]:
SELECT TOP 5 ProductID
      ,ProductName
      ,UnitPrice
FROM dbo.Products
ORDER BY UnitPrice DESC

ProductID,ProductName,UnitPrice
38,Côte de Blaye,263.50
29,Thüringer Rostbratwurst,123.79
9,Mishi Kobe Niku,97.00
20,Sir Rodney's Marmalade,81.00
18,Carnarvon Tigers,62.50

# 7\. Order of clauses in a SELECT statement

It's important to remember that the order of clauses in a SELECT statement matters.

There are too many possible clauses to include to demonstrate in one statement, but the most common ones are displayed below.

```SQL
SELECT shp.CompanyName
      ,COUNT(ord.OrderID) as 'OrderCount'
FROM dbo.Orders as ord
    INNER JOIN dbo.Shippers as shp
    ON ord.ShipVia = shp.ShipperID
WHERE ord.Freight < 100
GROUP BY shp.CompanyName
HAVING COUNT(ord.OrderID) > 250
ORDER BY COUNT(ord.OrderID) DESC
```

In [25]:
SELECT shp.CompanyName
      ,COUNT(ord.OrderID) as 'OrderCount'
FROM dbo.Orders as ord
    INNER JOIN dbo.Shippers as shp
    ON ord.ShipVia = shp.ShipperID
WHERE YEAR(ord.OrderDate) = 2022 
GROUP BY shp.CompanyName
HAVING COUNT(ord.OrderID) > 125
ORDER BY COUNT(ord.OrderID) DESC

CompanyName,OrderCount
United Package,153
Speedy Express,133

# 8\. Aliases

Aliases can be used to give a column or table an alternate name, which is useful when you have an aggregate column (as they don't automatically get names) or are working with multiple tables (where you need to qualify column names with their table name to avoid confusion and it can get quite long to type out).

You may have already noticed me using these - it's as simple as following the column or table in the SELECT or FROM statement with the 'as' keyword, and the desired name (it's good practice to surround it with quotes, but not necessary unless there's a space in it, or something else with the same name exists).

```SQL
SELECT 'Alias Example' as 'NewName'
FROM dbo.Orders as ord
```

In [2]:
SELECT TOP 3 'Alias Example' as 'NewName'
FROM dbo.Orders as ord

NewName
Alias Example
Alias Example
Alias Example

# 9\. TOP n (WITH TIES)

The TOP keyword is used to filter out the top n rows in your result set. By default it goes from the top of the table, which might not always make sense.

Use it with ORDER BY DESC to get the highest values, or ASC if you want to look at the lowest.

You can follow it with the WITH TIES keyword to include ties.

```SQL
SELECT DISTINCT TOP 5 WITH TIES pro.ProductID
      ,pro.ProductName
      ,ode.UnitPrice
FROM dbo.OrderDetails as ode
    INNER JOIN dbo.Products as pro
    ON ode.ProductID = pro.ProductID
ORDER BY ode.UnitPrice ASC
```

In [9]:
SELECT DISTINCT TOP 5 WITH TIES pro.ProductID
      ,pro.ProductName
      ,ode.UnitPrice
FROM dbo.OrderDetails as ode
    INNER JOIN dbo.Products as pro
    ON ode.ProductID = pro.ProductID
ORDER BY ode.UnitPrice ASC

ProductID,ProductName,UnitPrice
33,Geitost,2.00
33,Geitost,2.50
24,Guaraná Fantástica,3.60
24,Guaraná Fantástica,4.50
13,Konbu,4.80

# 10\. Aggregate Functions

Aggregate functions include functions like SUM(), COUNT(), AVG(), MIN(), and MAX(). They take a column as an argument and return a scalar value.

If you have both an aggregate function and a column selected, you need to have a GROUP BY clause in your statement.

```SQL
SELECT SUM(UnitPrice) as 'Sum'
      ,MAX(UnitPrice) as 'Max'
      ,MIN(UnitPrice) as 'Min'
      ,AVG(UnitPrice) as 'Avg'
      ,COUNT(UnitPrice) as 'Cnt'
FROM dbo.Products
```

In [12]:
SELECT SUM(UnitPrice) as 'Sum'
      ,MAX(UnitPrice) as 'Max'
      ,MIN(UnitPrice) as 'Min'
      ,AVG(UnitPrice) as 'Avg'
      ,COUNT(UnitPrice) as 'Cnt'
FROM dbo.Products

Sum,Max,Min,Avg,Cnt
2222.71,263.50,2.50,28.8663,77

# 11\. CONCAT()

The CONCAT() function allows you to take multiple strings, including string-valued columns, and combine them.

You can also concatenate strings with the + operator.

```SQL
SELECT CONCAT(TitleOfCourtesy, ' ', FirstName, ' ', LastName, ', ', Title) as 'FullNameAndTitle'
FROM dbo.Employees
```

In [16]:
SELECT CONCAT(TitleOfCourtesy, ' ', FirstName, ' ', LastName, ', ', Title) as 'FullNameAndTitle'
FROM dbo.Employees

FullNameAndTitle
"Ms. Nancy Davolio, Sales Representative"
"Dr. Andrew Fuller, Vice President, Sales"
"Ms. Janet Leverling, Sales Representative"
"Mrs. Margaret Peacock, Sales Representative"
"Mr. Steven Buchanan, Sales Manager"
"Mr. Michael Suyama, Sales Representative"
"Mr. Robert King, Sales Representative"
"Ms. Laura Callahan, Inside Sales Coordinator"
"Ms. Anne Dodsworth, Sales Representative"

# 12\. UPPER and LOWER

More string functions - as the names suggest, UPPER changes a string to uppercase, and LOWER to lowercase.

```SQL
SELECT UPPER(FirstName) as 'Upper'
      ,LOWER(LastName) as 'Lower'
FROM dbo.Employees
```

In [21]:
SELECT UPPER(FirstName) as 'Upper'
      ,LOWER(LastName) as 'Lower'
FROM dbo.Employees

Upper,Lower
NANCY,davolio
ANDREW,fuller
JANET,leverling
MARGARET,peacock
STEVEN,buchanan
MICHAEL,suyama
ROBERT,king
LAURA,callahan
ANNE,dodsworth

# 13\. YEAR(), MONTH(), DAY()

You can use these functions to isolate elements of a datetime column. They can be useful when you want to group by time periods.

```SQL
SELECT OrderDate
      ,YEAR(OrderDate) as 'Year'
      ,MONTH(OrderDate) as 'Month'
      ,DAY(OrderDate) as 'Day'
FROM dbo.Orders
```

In [22]:
SELECT TOP 5 OrderDate
      ,YEAR(OrderDate) as 'Year'
      ,MONTH(OrderDate) as 'Month'
      ,DAY(OrderDate) as 'Day'
FROM dbo.Orders

OrderDate,Year,Month,Day
2021-07-04 00:00:00.000,2021,7,4
2021-07-05 00:00:00.000,2021,7,5
2021-07-08 00:00:00.000,2021,7,8
2021-07-08 00:00:00.000,2021,7,8
2021-07-09 00:00:00.000,2021,7,9

# 14\. GETDATE() and DATEDIFF()

DATEDIFF() is a datetime function that takes an interval (year, month, day, etc.), start date, and end date, and tells you the difference between them.

GETDATE() is a function with no parameters that returns the current datetime.

Using them together, you can do things like finding someone's current age based on their birthdate.

```SQL
SELECT concat(FirstName, ' ', LastName) as 'Name'
      ,BirthDate
      ,DATEDIFF(Year, BirthDate, GETDATE()) as 'Age'
FROM dbo.Employees
```

In [24]:
SELECT concat(FirstName, ' ', LastName) as 'Name'
      ,BirthDate
      ,DATEDIFF(Year, BirthDate, GETDATE()) as 'Age'
FROM dbo.Employees

Name,BirthDate,Age
Nancy Davolio,1973-12-08 00:00:00.000,51
Andrew Fuller,1977-02-19 00:00:00.000,47
Janet Leverling,1988-08-30 00:00:00.000,36
Margaret Peacock,1962-09-19 00:00:00.000,62
Steven Buchanan,1980-03-04 00:00:00.000,44
Michael Suyama,1988-07-02 00:00:00.000,36
Robert King,1985-05-29 00:00:00.000,39
Laura Callahan,1983-01-09 00:00:00.000,41
Anne Dodsworth,1991-01-27 00:00:00.000,33

# 15\. INNER JOIN

Joins allow you to query from multiple tables in a database at once. The two tables have to have a primary key-foreign key relationship - this often means that one table has an index column, and the other has a column with the same values (some of which may show up more than once, or not at all).

An inner join is the simplest type of join. It selects records that have matching values in both tables, and is equivalent to the intersection of two sets.

You must specify which columns you're joining on using the ON clause. You can chain multiple joins together in one query to bring in multiple tables.

```SQL
SELECT TOP 5 ord.OrderDate
      ,ode.Quantity
      ,pro.ProductName
      ,cat.CategoryName
FROM dbo.Orders as ord
    INNER JOIN dbo.OrderDetails as ode
    ON ord.OrderID = ode.OrderID
    INNER JOIN dbo.Products as pro
    ON pro.ProductID = ode.ProductID
    INNER JOIN dbo.Categories as cat
    ON cat.CategoryID = pro.CategoryID
```

In [25]:
SELECT TOP 5 ord.OrderDate
      ,ode.Quantity
      ,pro.ProductName
      ,cat.CategoryName
FROM dbo.Orders as ord
    INNER JOIN dbo.OrderDetails as ode
    ON ord.OrderID = ode.OrderID
    INNER JOIN dbo.Products as pro
    ON pro.ProductID = ode.ProductID
    INNER JOIN dbo.Categories as cat
    ON cat.CategoryID = pro.CategoryID

OrderDate,Quantity,ProductName,CategoryName
2021-07-04 00:00:00.000,12,Queso Cabrales,Dairy Products
2021-07-04 00:00:00.000,10,Singaporean Hokkien Fried Mee,Grains/Cereals
2021-07-04 00:00:00.000,5,Mozzarella di Giovanni,Dairy Products
2021-07-05 00:00:00.000,9,Tofu,Produce
2021-07-05 00:00:00.000,40,Manjimup Dried Apples,Produce

# 16\. LEFT, RIGHT, and FULL OUTER JOIN

These joins are a bit more complicated - they return rows where there isn't a match.

A left outer join returns all rows from the first table, and matching rows from the second. A right outer join does the opposite.

A full outer join returns all rows in both tables. When there is no match, the result is a NULL value. This example uses a self-join, which we can do because it has a foreign key that matches its primary key.

```SQL
SELECT concat(em1.FirstName, ' ', em1.LastName) as 'Name'
      ,em1.EmployeeID
      ,em1.ReportsTo
FROM dbo.Employees as em1
    LEFT OUTER JOIN dbo.Employees as em2
    ON em1.ReportsTo = em2.EmployeeID

```

In [37]:
SELECT concat(em1.FirstName, ' ', em1.LastName) as 'Name'
      ,em1.EmployeeID
      ,em1.ReportsTo
FROM dbo.Employees as em1
    LEFT OUTER JOIN dbo.Employees as em2
    ON em1.ReportsTo = em2.EmployeeID

Name,EmployeeID,ReportsTo
Nancy Davolio,1,2
Andrew Fuller,2,NULL
Janet Leverling,3,2
Margaret Peacock,4,2
Steven Buchanan,5,2
Michael Suyama,6,5
Robert King,7,5
Laura Callahan,8,2
Anne Dodsworth,9,5

# 17\. CROSS JOIN

Instead of matching on keys, a cross join produces the cartesian product of two tables. Each row from the first table is paired with each row from the second table, giving you every possible combination of rows.

This isn't commonly used in practice, but could come in handy if you wanted to set up a departmental softball tournament, for instance.

```SQL
SELECT cat.CategoryName
      ,shp.CompanyName
FROM dbo.Categories as cat
    CROSS JOIN dbo.Shippers as shp
```

In [39]:
SELECT TOP 15 cat.CategoryName
      ,shp.CompanyName
FROM dbo.Categories as cat
    CROSS JOIN dbo.Shippers as shp

CategoryName,CompanyName
Beverages,Speedy Express
Condiments,Speedy Express
Confections,Speedy Express
Dairy Products,Speedy Express
Grains/Cereals,Speedy Express
Meat/Poultry,Speedy Express
Produce,Speedy Express
Seafood,Speedy Express
Beverages,United Package
Condiments,United Package
Confections,United Package
Dairy Products,United Package
Grains/Cereals,United Package
Meat/Poultry,United Package
Produce,United Package

# 18\. DISTINCT

The DISTINCT keyword can be used to select only distinct elements from a column. It can also be used inside a COUNT() function to count the number of distinct elements in a column.
```SQL
SELECT COUNT(ShipCountry) as 'TotalCount'
      ,COUNT(DISTINCT ShipCountry) as 'DistinctCount'
FROM dbo.Orders
```

In [23]:
SELECT COUNT(ShipCountry) as 'TotalCount'
      ,COUNT(DISTINCT ShipCountry) as 'DistinctCount'
FROM dbo.Orders

TotalCount,DistinctCount
830,21

# 19\. LIKE & Wildcards

The LIKE operator is used to match string patterns in a column. It can be used by itself for an exact match, or with wildcards.

The % wildcard represents any number of characters, including none. The \_ wildcard represents a single character. You can use multiple of them for a specific number of characters.

This example matches names that have 'a' as the second character and any number of characters after it.

```SQL
SELECT FirstName
      ,LastName
FROM dbo.Employees
WHERE FirstName LIKE '_a%'
```

In [13]:
SELECT FirstName
      ,LastName
FROM dbo.Employees
WHERE FirstName LIKE '_a%'

FirstName,LastName
Nancy,Davolio
Janet,Leverling
Margaret,Peacock
Laura,Callahan

# 20\. Subqueries

Subqueries are nested queries that allow you to make your queries more flexible. They can be used in many places, like SELECT, FROM, WHERE, and HAVING clauses.

They can be used to get a scalar for comparison or for a small result set to reference. For instance, an aggregate function cannot appear in a WHERE clause, but we can use a subquery to get around this limitation.

```SQL
SELECT OrderID
      ,Freight
FROM dbo.Orders
WHERE Freight > (SELECT AVG(Freight) FROM dbo.Orders)
```

In [16]:
SELECT TOP 5 OrderID
      ,Freight
FROM dbo.Orders
WHERE Freight > (SELECT AVG(Freight) FROM dbo.Orders)

OrderID,Freight
10255,148.33
10257,81.91
10258,140.51
10263,146.06
10267,208.58

# 21\. CASE

A CASE statement lets you evaluate multiple conditions and return different answers for each. It's similar to a switch statement or a set of if statements in other languages, or a conditional column in PowerQuery.

Within the CASE - END block, each condition is represented by a 'WHEN x THEN y' statement, or an 'ELSE z'.

```SQL
SELECT MONTH(OrderDate) as 'MonthNumber'
      ,CASE MONTH(OrderDate)
        WHEN 1 THEN 'JANUARY'
            WHEN 2 THEN 'FEBRUARY'
            WHEN 3 THEN 'MARCH'
            WHEN 4 THEN 'APRIL'
            WHEN 5 THEN 'MAY'
            WHEN 6 THEN 'JUNE'
            WHEN 7 THEN 'JULY'
            WHEN 8 THEN 'AUGUST'
            WHEN 9 THEN 'SEPTEMBER'
            WHEN 10 THEN 'OCTOBER'
            WHEN 11 THEN 'NOVEMBER'
            WHEN 12 THEN 'DECEMBER'
            ELSE NULL
        END as 'MonthName'
FROM dbo.Orders
GROUP BY MONTH(OrderDate)
ORDER BY MONTH(OrderDate) ASC

```

In [5]:
SELECT MONTH(OrderDate) as 'MonthNumber'
      ,CASE MONTH(OrderDate)
        WHEN 1 THEN 'JANUARY'
			WHEN 2 THEN 'FEBRUARY'
			WHEN 3 THEN 'MARCH'
			WHEN 4 THEN 'APRIL'
			WHEN 5 THEN 'MAY'
			WHEN 6 THEN 'JUNE'
			WHEN 7 THEN 'JULY'
			WHEN 8 THEN 'AUGUST'
			WHEN 9 THEN 'SEPTEMBER'
			WHEN 10 THEN 'OCTOBER'
			WHEN 11 THEN 'NOVEMBER'
			WHEN 12 THEN 'DECEMBER'
			ELSE NULL
        END as 'MonthName'
FROM dbo.Orders
GROUP BY MONTH(OrderDate)
ORDER BY MONTH(OrderDate) ASC

MonthNumber,MonthName
1,JANUARY
2,FEBRUARY
3,MARCH
4,APRIL
5,MAY
6,JUNE
7,JULY
8,AUGUST
9,SEPTEMBER
10,OCTOBER
11,NOVEMBER
12,DECEMBER

# 22\. CTE

CTEs, or Common Table Expressions create a temporary result set which can then be referenced and further queried. This allows you to take multiple passes at the data, which is usually not possible in SQL.

To declare a CTE, start with WITH 'CTE\_name' AS followed by your first SELECT statement in parentheses. The CTE can then be queried by referencing the CTE\_name.

```SQL
WITH Employee_CTE
AS
(
    SELECT emp.EmployeeID
          ,concat(emp.FirstName, ' ', emp.LastName) as 'EmployeeName'
          ,ord.OrderID
          ,ord.OrderDate
    FROM dbo.Orders as ord
    INNER JOIN dbo.Employees as emp
    ON ord.EmployeeID = emp.EmployeeID
    WHERE OrderDate = EOMONTH(OrderDate)
)
SELECT TOP 5 WITH TIES EmployeeID
                      ,EmployeeName
                      ,count(*) as 'OrderCount'
FROM Employee_CTE
GROUP BY EmployeeID, EmployeeName
ORDER BY OrderCount DESC
;

```

In [6]:
WITH Employee_CTE 
AS
(
	SELECT emp.EmployeeID
		  ,concat(emp.FirstName, ' ', emp.LastName) as 'EmployeeName'
		  ,ord.OrderID
		  ,ord.OrderDate
	FROM dbo.Orders as ord
	INNER JOIN dbo.Employees as emp
	ON ord.EmployeeID = emp.EmployeeID
	WHERE OrderDate = EOMONTH(OrderDate)
)
SELECT TOP 5 WITH TIES EmployeeID
					  ,EmployeeName
					  ,count(*) as 'OrderCount'
FROM Employee_CTE
GROUP BY EmployeeID, EmployeeName
ORDER BY OrderCount DESC
;

EmployeeID,EmployeeName,OrderCount
4,Margaret Peacock,8
2,Andrew Fuller,4
3,Janet Leverling,4
8,Laura Callahan,4
1,Nancy Davolio,2

# 23\. UNION

You can use UNION to combine, or append, two result sets into one. There are some restrictions - both result sets must have the same number of columns, with the same data types, in the same order. Intuitively, you're stacking the two result sets together, so all their columns have to match up.

If you want to include duplicates, you can use UNION ALL.

```SQL
SELECT ShipCity
      ,ShipCountry
FROM dbo.Orders
UNION
SELECT City
      ,Country
FROM dbo.Suppliers
```

In [18]:
SELECT TOP 5 ShipCity
      ,ShipCountry
FROM dbo.Orders
UNION
SELECT TOP 5 City
      ,Country
FROM dbo.Suppliers

ShipCity,ShipCountry
Ann Arbor,USA
Charleroi,Belgium
London,UK
Lyon,France
Münster,Germany
New Orleans,USA
Oviedo,Spain
Reims,France
Rio de Janeiro,Brazil
Tokyo,Japan

# 24\. Variables

Variables in SQL function similarly to those in other languages. They can be assigned a value, which can change during execution, for instance in loops.

You must declare the type of a variable when you create it.

```SQL
DECLARE @TestVariable as NVARCHAR(50)
SET @TestVariable = 'Hello World!'
PRINT @TestVariable
SET @TestVariable = '!dlroW olleH'
PRINT @TestVariable
```

In [21]:
DECLARE @TestVariable as NVARCHAR(50)
SET @TestVariable = 'Hello World!'
PRINT @TestVariable
SET @TestVariable = '!dlroW olleH'
PRINT @TestVariable

# 25\. Functions

You can create functions in SQL just like in most programming languages. You need to declare a schema and function name, one or more input parameters with types, and the type of the output.

The content of the function is contained in a BEGIN - END block. This example function takes a string and changes it to proper case.

```SQL
CREATE OR ALTER FUNCTION dev.Proper (@InputString NVARCHAR(50))
RETURNS NVARCHAR(50)
AS
    
BEGIN
    RETURN UPPER(SUBSTRING(@InputString, 1,1)) + LOWER(Substring((@InputString), 2, LEN(@InputString))) 
END
;

```

In [4]:
SELECT dev.Proper('hElLo') as 'ProperCase'

ProperCase
Hello